html, body {
    margin: 0; 
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

html {
    background: linear-gradient(15deg, rgba(130,129,241,1) 25%, rgba(137,98,199,1) 50%, rgba(144,70,161,1) 75%);
    background-attachment: fixed;
}

body {
    background: linear-gradient(30deg, rgb(154, 181, 230) 25%, rgb(172, 127, 243) 50%, rgb(197, 125, 255) 75%);
    background-attachment: fixed;

    margin-top: 50px;
    width: 40vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: darkblue;
    border-radius: 7em;
    box-shadow: 0.25em 0.25em 0.5em #16082f, -0.12em -0.12em 0.5em #16082f;
}

body p {
    margin-top: 5vh;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
}

body form {
    text-align: center;
}

body form label {
    display: inline-block;
    font-size: 3vh;
}

body input {
    background-color: #EAEAEA;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body form label[id="privacy"], body form label[id="duration"], body form label[for="password"] {
    text-align: center;
    font-size: 4vh;
    margin-top: 3vh;
}

body .time {
    display: none;
}

body .time input, body .password input {
    margin-top: 1vh;
    text-align: center;
    width: 5vw;
    height: 4vh;
    font-size: 2vh;
}

body form input[id="yes"]:checked ~ .time {
    display: block;
}

body .password {
    display: none;
}

body .password input {
    width: 14vw;
}

body form input[id="private"]:checked ~ .password {
    display: block;
}

body input[id="link"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30vw;
    font-size: 4vh;
    margin-top: 3vh;
}

body .button {
    background: linear-gradient(23deg, rgba(196,215,245,1) 25%, rgba(133,212,242,1) 50%, rgba(196,215,245,1) 75%);
    text-align: center;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    border: 0.06em solid black;
}

body button {
    margin: 0 auto;
    height: 8vh;
    width: 10vw;
    font-size: 4vh;
    color:white;
    background-color: #8a2be2;
    clip-path: polygon(20% 0%, 100% 0%, 100% 50%, 80% 100%, 0% 100%, 0% 50%);
    border: 0.06em solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body .button.quit, body .button.copylink {
    margin-bottom: 2vh;
}

body .button:hover {
    box-shadow: 0px 0px 1.2em #85d4f2;
}

body .button:active {
    transform: translateY(0.2em);
}

@media screen and (min-width: 1500px) and (max-width: 1700px) {
    body {
        width: 50vw;
    }

    body p {
        font-size: 5vh;
    }

    body .time input, body .password input {
        width: 6vw;
    }

    body .password input {
        width: 20vw;
    }

    body button {
        width: 15vw;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1499px) {
    body {
        width: 70vw;
    }

    body .time input, body .password input {
        width: 8.5vw;
    }

    body .password input {
        width: 25vw;
    }

    body button {
        width: 18vw;
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    body {
        width: 70vw;
        border-radius: 6em;
    }

    body .time input, body .password input {
        width: 15vw;
    }

    body .password input {
        width: 28vw;
    }

    body input[id="link"] {
        width: 40vw;
    }

    body button {
        width: 35vw;
    }
}

@media screen and (max-width: 499px) {
    body {
        width: 80vw;
        border-radius: 4em;
    }

    body .time input, body .password input {
        width: 15vw;
    }

    body .password input {
        width: 28vw;
    }

    body input[id="link"] {
        width: 45vw;
    }

    body button {
        width: 50vw;
    }
}

@media screen and (min-width: 0px) and (max-width: 180px) {
    body p, body form label {
        margin-left: 4px;
        font-size: 16px;
    }
}